body{
font-family: Arial;
background:#f2f6ff;
text-align:center;
}

h1{
color:#0b5ed7;
}

form{
background:white;
padding:20px;
width:300px;
margin:auto;
border-radius:10px;
box-shadow:0 0 10px gray;
}

input,select{
width:90%;
padding:8px;
margin:5px;
}

button{
background:#0b5ed7;
color:white;
border:none;
padding:10px;
width:95%;
margin-top:10px;
}

table{
margin-top:30px;
border-collapse:collapse;
width:90%;
margin-left:auto;
margin-right:auto;
background:white;
}

th,td{
border:1px solid gray;
padding:10px;
}

th{
background:#0b5ed7;
color:white;
}